/* The original settings are found in the about3Pane.css file */

/* Folder Entries */
#folderTree .icon {
  background-image: url(folder.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="archive"] > .container > .icon {
  background-image: url(archive.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="drafts"] > .container > .icon {
  background-image: url(file-item.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="inbox"] > .container > .icon {
  background-image: url(inbox.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="junk"] > .container > .icon {
  background-image: url(junk.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="outbox"] > .container > .icon {
  background-image: url(outbox.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="sent"] > .container > .icon {
  background-image: url(sent.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="templates"] > .container > .icon {
  background-image: url(template.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="trash"] > .container > .icon {
  background-image: url(delete.svg) !important;
  background-size: 16px;
}

#folderTree li[data-folder-type="virtual"] > .container > .icon {
  background-image: url(search-folder.svg) !important;
  background-size: 16px;
}

/* Server Entries */
#folderTree li[data-server-type] > .container > .icon {
  background-image: url(folder-local.svg) !important;
  background-size: 16px;
}

#folderTree li[data-server-type="none"] > .container > .icon {
  background-image: url(folder-local.svg) !important;
  background-size: 16px;
}

#folderTree li:is([data-server-type="imap"], [data-server-type="pop3"]) > .container > .icon {
  background-image: url(message.svg) !important;
  background-size: 16px;
}

#folderTree li:is([data-server-type="imap"], [data-server-type="pop3"])[data-server-secure="true"] > .container > .icon {
  background-image: url(message-secure.svg) !important;
  background-size: 16px;
}

#folderTree li[data-server-type="nntp"] > .container > .icon {
  background-image: url(globe.svg) !important;
  background-size: 16px;
}

#folderTree li[data-server-type="nntp"][data-server-secure="true"] > .container > .icon {
  background-image: url(globe-secure.svg) !important;
  background-size: 16px;
}

#folderTree li[data-server-type="rss"] > .container > .icon {
  background-image: url(feeds.svg) !important;
  background-size: 16px;
}
